.searche {
  position: relative;
  display: block;
  width: 300px;
  margin: 10px 0 10px 10px;
  padding: 5px 0;

  border: 1px solid #dcdcdc;
}

.label-search::before {
  content: "";
  position: absolute;
  top: 70px;
  right: 15px;
  width: 20px;
  height: 20px;

  background: url("../img/icon-searche.svg") center no-repeat;
}

@media (min-width: @tablet-width) {
  .searche {
    margin-top: 30px;
  }

  .label-search::before {
    top: 35px;
    right: 230px;
  }
}
