.main-footer__wrapper {
  background-color: #358ea7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  width: 320px;
}

.main-footer__list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  width: 120px;
  margin-left: 20px;
}

.main-footer__list:nth-of-type(2n) {
  margin-left: 50px;
}

.main-footer__item {

}

.main-footer__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 20px;
}

.main-footer__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  line-height: 18px;
  font-family: "Open Sans", "arial", sans-serif;
}

.main-footer__copyright {
  padding: 9px 0;
  background-color: #00a9d8;
  color: #ffffff;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .main-footer {
    width: 100%;
    min-height: 330px;
    background-color: #358ea7;
  }

  .main-footer__title {
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  .main-footer__list {
    margin-top: 45px;
  }

  .main-footer__item {
    line-height: 28px;
  }

  .main-footer__wrapper {
    width: 768px;
  }
}
