.page-header-logo {
  display: block;

  font-size: 49px;
  font-family: "lobster", "Arial", sans-serif;
  text-align: center;
  color: #00a9d8;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
.page-header-logo {
  padding: 14px 0;
}
}
