.product__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.product__item {
  margin-bottom: 20px;
  padding-bottom: 20px;

  text-align: center;

  border-bottom: 2px solid #afafaf;

  &:nth-child(6) {
    margin-bottom: 0;
  }
}

.product__name {
  font-size: 27px;
  line-height: 25px;
  color: #afafaf;
}

.product__price {
  display: inline-block;
  margin-right: 10px;

  font-size: 27px;
  line-height: 25px;
  color: #afafaf;
}

.product__title {
  display: block;
  width: 100%;
  padding: 20px 0;

  font-size: 31px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;

  background: url("../img/background-slider.jpg") center no-repeat;
}

.product__button {
  display: inline-block;
}

@media (min-width: @tablet-width) {
  .product__title {
    box-sizing: border-box;
    margin-top: 0;
    padding-left: 60px;
    width: 768px;

    text-align: left;
  }

  .product__item {
    width: 253px;

    border: 2px solid #e7e7e7;
    border-bottom: 5px solid #00a9d8;

    &:nth-child(6) {
      margin-bottom: 20px;
    }
  }

  .product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .product__img {
    margin-top: 20px;
  }
}
