.product__title {
  display: block;
  width: 100%;
  padding: 20px 0;

  font-size: 31px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;

  background: url("../img/background-slider.jpg") center no-repeat;
}
